nav {
  width: 100%;
  height: $nav-height;
  background-color: $bg-nav;
  text-align: center;

  h1 {
    margin: auto;
    a {
      color: $color-link;
      font-size: 14pt;
      font-weight: 200;
      letter-spacing: 10px;
      text-transform: uppercase;
    }
  }

}
