#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin-left: 5%;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}