//BACKGROUNDS
$bg-nav: #252831;
$bg-filter: #3397DB;

//COLORS
$color-restaurant-title: #f18200;
$color-restaurant-cuisine: #333333;
$color-restaurant-text:#666666;

$color-reviews-title: #f58500;

$color-link: #ffffff;

$color-breadcrumb: #0275d8;
$color-breadcrumb-hover:#01447e;