.inside {
  >header {
    width: 100%;
  }

  #map-container {
    height: 400px;
    width: 100%;
  }

  #map {
    height: 100%;
    width: 100%;
  }

  >#footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

}
