#reviews-list {

  > li {
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomright: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 100%;

    header {
      display: flex;
      background-color: $bg-footer;
      color: $color-link;

      h1 {
        margin: 15px;
      }

      span{
        margin:25px;
      }
    }

    .container {
      .review-rating {
        background-color: #f18200;
        color: white;
        font-weight: bold;
      }
    }

    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    width: 85%;

    p {
      margin: 0 0 10px;
    }

  }
}
