#reviews-list {

  >li {
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomright: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 575px;
    margin-left: 12.5%;
    margin-bottom: 5%;
    width: 75%;

    header {
      display: flex;
      background-color: $bg-footer;
      color: $color-link;

      h1 {
        margin: 15px;
      }

      span {
        margin: 25px;
      }
    }

    .container {
      >.review-rating {
        background-color: #f18200;
        color: white;
        font-weight: bold;
        padding: 10px;
      }
    }

    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    overflow: hidden;

    p {
      margin: 2.5%;
      font-size: 1.2rem;
    }

  }

}
